* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  body {
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.4;
    color: #444;
    background: #fff;
    height: 100vh;

    nav {
      overflow: hidden;
      background-color: #333;
      // position: fixed;
      top: 0;
      width: 100%;
      margin-bottom: 4rem;
      ul {
        text-align: center;
        list-style-type: none;
        list-style-type: none;
        margin: 0;
        padding: 15px;
        li {
          display: inline;
          font-family: "Fira Sans", sans-serif;
          font-size: 17px;
          a {
            color: #f2f2f2;
            text-decoration: none;
            padding: 14px;
            &:hover {
              background-color: #111;
            }
          }
          .active-link {
            color: orangered;
            text-decoration: underline;
          }
        }
      }
    }

    .content {
      text-align: center;
    }

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 1000px;
      margin: 1.5rem auto 0 auto;
      overflow-y: auto;

      h1 {
        font-size: 6rem;
        font-weight: 600;
        margin-bottom: 2rem;
        line-height: 1em;
        color: #ececec;
        text-transform: lowercase;
        text-align: center;
      }

      .inner {
        width: 100%;
        max-width: 600px;
        padding: 8rem 10px 4rem;

        .form-container {
          width: 100%;
          margin-bottom: 20px;
          display: flex;
          border-radius: calc(0.5 * 100px);
          box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.38);
          justify-content: space-evenly;

          input {
            font-size: 1rem;
            font-weight: 400;
            width: 85%;
            padding-right: 5px;
            padding-left: 10px;
            border-radius: calc(0.5 * 100px);
          }

          input::placeholder {
            color: #000;
          }

          button {
            background: transparent;
            color: #5b5b5b;
            text-transform: capitalize;
            cursor: pointer;
            font-weight: 600;
            margin-right: 10px;

            svg {
              color: darkcyan;
              font-size: 20px;
              margin-top: 2px;
            }
          }

          input,
          button {
            height: 45px;
            outline: none;
            border: none;
          }
        }

        .item {
          font-size: 1.2rem;
          list-style-type: none;
          padding: 17px 0;
          border-bottom: 1px solid #eaeaea;

          span {
            word-wrap: break-word;
          }

          input {
            margin-right: 15px;
          }

          button {
            font-size: 13px;
            background: #f1f3f4;
            border: none;
            cursor: pointer;
            float: right;
            outline: none;
            border-radius: 100px;
            height: 35px;
            width: 35px;
            margin: -10px 0 0 10px;
          }
        }
      }
    }
  }
}
